<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />



    <application
        android:name="com.spgon.a3flowers.MyApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.3Flowers"
        android:usesCleartextTraffic="true"
        tools:targetApi="33">
        <activity
            android:name="com.spgon.a3flowers.activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.spgon.a3flowers.activity.ProfileEdit"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.spgon.a3flowers.activity.OtpVerifyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.spgon.a3flowers.activity.Googlepaybill"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.spgon.a3flowers.activity.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.spgon.a3flowers.activity.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.spgon.a3flowers.activity.TasksActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.spgon.a3flowers.activity.LaunchScreen"
            android:exported="false"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.spgon.a3flowers.activity.Registration"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.spgon.a3flowers.activity.Quiz"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.spgon.a3flowers.activity.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.spgon.a3flowers.activity.Products"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.spgon.a3flowers.activity.TaskNotSubscribed"
            android:exported="false"
            android:screenOrientation="portrait" />

    </application>

</manifest>
